<div class="container" data-ng-controller="doctorDetailsCtrl">

	<div class="card">

		<span class="pull-Left" style="margin-top: -20px; padding: 10px;">
			<button class="btn btn-warning waves-effect" 
				data-ng-click="btnBack();" style="margin-top: 10px;">
				<i class="zmdi zmdi-arrow-back"></i> Back
			</button>
			<button class="btn btn-danger waves-effect" 
			style="margin-top: 10px;" data-ng-if="PageMode === 'New'" data-ng-click="btnCRUD('SAVE');" >
				<i class="zmdi zmdi-thumb-up"></i> Save
			</button>
			<button class="btn btn-primary waves-effect"   data-ng-click="btnCRUD('UPDATE');" 
				style="margin-top: 10px;" data-ng-if="PageMode === 'Update'">
				<i class="zmdi zmdi-edit"></i> Update
			</button>
			<button class="btn btn-danger waves-effect"  data-ng-click="btnCRUD('DELETE');" 
				style="margin-top: 10px;" data-ng-if="PageMode === 'Update'">
				<i class="zmdi zmdi-delete"></i> Delete
			</button>
		</span>

		<hr /> 
		<div class="card-header">
			<h2 title="Make doctor active or deactive...">Doctor Details 
				<label data-ng-if="params.name.length > 0">  {{ ": " + "Dr." + params.name}}</label></h2>
		</div>
		<div class="card-body card-padding p-t-0"
			data-ng-controller="DatepickerDemoCtrl">

			<form role="form">


				<div class="row">

					<div class="col-sm-4">

						<div class="form-group fg-line">
							<label for="exampleInputEmail1">Doctor's Name</label> <input
								type="text" class="form-control input-sm"
								data-ng-model="params.name" id="exampleInputEmail1"
								placeholder="Name">
						</div>
					</div>

					<div class="col-sm-4">
						<div class="form-group fg-line">
							<label for="MessengerName">Messenger Name </label> <input
								data-ng-model="params.MessengerName" maxlength="11" type="text"
								class="form-control input-sm"  
								id="MessengerName" placeholder="Messenger Name">
						</div>
					</div>

					<div class="col-sm-4">
						<div class="form-group fg-line">
							<label for="ts2">Active </label>
							<div class="toggle-switch" data-ts-color="blue"
								style="margin-left: 15px;">
								<input id="ts2" type="checkbox" hidden="hidden"  
									data-ng-model="params.isActive"> <label for="ts2"
									class="ts-helper"> </label>
							</div>  
						</div>
					</div>
				</div>
			</form>

			<div class="row">

				<div class="col-sm-4">

					<div class="form-group fg-line">
						<label for="Contact_1">Contact Details [Work] </label> <input
							data-ng-model="params.Contact_1" maxlength="11" type="text"
							class="form-control input-sm"  
							id="Contact_1" placeholder="Contact Number 1">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group fg-line">
						<label for="Contact_2">Contact Details [Other] </label> <input
							data-ng-model="params.Contact_2" maxlength="11" type="text"
							class="form-control input-sm"  
							id="Contact_2" placeholder="Contact Number 2">
					</div>
				</div>

				<div class="col-sm-4">
					<div class="form-group fg-line">
						<label for="Specialization">Specialization</label> <input
							type="text" data-ng-model="params.Specialization"
							id="Specialization" style="margin-top: -5px;"
							uib-typeahead="sp for sp in SpecializationList | filter:$viewValue | limitTo:8"
							class="form-control" placeholder="Start typing . . .">
					</div>


				</div>
			</div>
 
			<br />
			<div class="row">

				<div class="col-sm-12">

					<br/>
					<center>
						<label>Working Days</label> </br> <label
							class="checkbox checkbox-inline m-r-20"
							data-ng-repeat="data in WorkingDaysList"> <input
							type="checkbox" value="option3" data-ng-model="data.isActive">
							<i class="input-helper"></i> {{data.Day}}
						</label> 
					</center>
				</div>

			</div>

			<br /><br />

			<div class="row">

				<div class="col-sm-4">
					<div class="form-group fg-line">
						<label for="ConsultationFees">Consultation Fees [In Rs.] </label> <input
							  maxlength="4" type="text"
							class="form-control input-sm" data-ng-model="params.ConsultationFees"
							id="ConsultationFees" placeholder="Consultation Fees">
					</div>
				</div>
				
				<div class="col-sm-4">				
					<div class="form-group">
                        <div class="fg-line">
                        	<label for="CunsultationStartTime">Consultation Start Timing </label>
                            <div class="select">
                                <select class="form-control" data-ng-model="params.CunsultationStartTime">
                                    <option value="{{item.value}}" data-ng-repeat="item in TimeList">{{item.DisplayText}} </option>
                                </select>
                            </div>
                        </div>
                    </div> 
				</div>
				
				<div class="col-sm-4">				
					<div class="form-group">
                        <div class="fg-line">
                        	<label for="CunsultationEndTime">Consultation End Timing  </label>
                            <div class="select">
                                <select class="form-control" data-ng-model="params.CunsultationEndTime">
                                    <option value="{{item.value}}" data-ng-repeat="item in TimeList">{{item.DisplayText}} </option>    
                                </select>
                            </div>
                        </div>
                    </div> 
				</div>
			</div>

			<br />

			<div class="row" data-ng-show="false">
				<div class="col-sm-3 m-b-15">
					<p class="f-500 c-black m-b-15">Doctor treatment details</p>
					<select chosen multiple data-placeholder="Select a country..."
						data-ng-model="params.DoctorTreatmentDetails" class="w-100">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
					</select>
				</div>

			</div>

			<div class="row">
				<div class="col-sm-5 m-b-15"> 
					<div class="form-group fg-line">
						
						<label for="ConsultationFees">Time Slots </label> 
						<br/>
						<label class="checkbox checkbox-inline m-r-20"> <input
								data-ng-model="params.AllowedMorningShift"
							type="checkbox" value="option3"> <i class="input-helper"></i>
							Morning
						</label>
						<label class="checkbox checkbox-inline m-r-20"> <input
								data-ng-model="params.AllowedNoonShift"
							type="checkbox" value="option3"> <i class="input-helper"></i>
							Afternoon
						</label>
						<label class="checkbox checkbox-inline m-r-20"> <input
								data-ng-model="params.AllowedEvenigShift"
							type="checkbox" value="option3"> <i class="input-helper"></i>
							Evening
						</label>
					</div> 
				</div>

			</div>
 


		</div>
	</div>
</div>